@font-face {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Condensed'), url('OpenSansCondensedLight.ttf') format('ttf');
    }
    
    body {
        font-family: 'Open Sans Condensed'
    }
